[phases.setup]
nixPkgs = ["nodejs_20", "npm", "python3", "gcc", "gnumake"]

[phases.install]
cmds = ["npm install --build-from-source"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/main.js"
