[phases.setup]
nixPkgs = ["nodejs_20", "npm", "gcc", "gnumake"]

[phases.install]
cmds = [
  "npm install --production=false"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "node dist/main.js"
